<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:object="${users}" action="/resetpassword/reset">
    <input type="hidden" th:field="*{id}"/>
    <div>
        Username: <input type="text" readonly th:field="*{userName}">
    </div>
    <br>
    <div>
        Email: <input type="text" readonly th:field="*{email}">
    </div>
    <br>
    <div>
        Password: <input type="password" th:field="*{passWord}">
    </div>
    <br>
<!--    <div>-->
<!--        Confirm password: <input type="password" th:field="*{passWord}">-->
<!--    </div>-->
<!--    <br>-->
    <div>
        <input type="submit" class="btn btn-warning" value="Update">
    </div>
</form>
</body>
</html>